{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card narrow">
  <h1>Create account · បង្កើតគណនី</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
      {{ field.errors }}
    {% endfor %}
    <button class="btn" type="submit">Register</button>
  </form>
  <p class="muted">Already registered? <a href="{% url 'accounts:login' %}">Login</a></p>
</div>
{% endblock %}
